{% extends "base.html" %}
{% url 'events:create' as event_create_url %}
{% block content %}
  {% if object.owner == request.user.hopper %}
    <div class="text-center">
      <a href="update" class="btn btn-primary"<span class="badge">Update Pad</span></a>
      <a href="delete" class="btn btn-primary"<span class="badge">Delete Pad</span></a>
      </br>
      </br>
    </div>
  {% endif %}
  <div class="card">
    </br>
    <div class="card text-center">
      <div class="card-body">
        <h2 class="card-title">{{ object.name }}</h2>
        <h3>{{ object.address }}</h3>
        {% load cloudinary %}
        {% if object.image %}
          {% cloudinary object.image.public_id className="pad-pic" height=300 width=150 %}
          </br>
        {% endif %}
        {% if object.caption %}
          <div>{{ object.caption }}</div>
          </br>
        {% endif %}
        <div>{{ object.description }}</div>
        </br>
        {% for event in object.get_events_list %}
          <a href="{{ event.get_absolute_url }}" class="btn btn-default"<span class="badge">{{ event }}</span></a>
        {% endfor %}
        </br>
        </br>
      </div>
    </div>
  </div>
{% endblock %}