{% extends "base.html" %}
{% url 'events:create' as event_create_url %}
{% block content %}
  <div class="card">
    <div class="card text-center">
      <div class="card-body">
        <h1>{{ object.name }}</h1>
        </br>
        <h3>{{ object.address }}</h3>
        </br>
        {{ object.description }}
        </br>
        </br>
        <h4>Events:</h4>
        </br>
        {% for event in object.get_events_list %}
          <a href="{{ event.get_absolute_url }}" class="btn btn-primary"<span class="badge">{{ event }}</span></a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}