{% extends "base.html" %}
{% url 'events:create' as event_create_url %}
{% block content %}
  {% if object.owner == request.user.hopper %}
    <div class="text-center">
      <a href="delete" class="btn btn-primary"<span class="badge">Delete Pad</span></a>
      </br>
      </br>
    </div>
  {% endif %}
  <div class="card">
    </br>
    <div class="card text-center">
      <div class="card-body">
        <h2 class="card-title">{{ object.name }}</h2>
        <h3>{{ object.address }}</h3>
        </br>
        <div>{{ object.description }}</div>
        </br>
        <div>Events:</div>
        </br>
        {% for event in object.get_events_list %}
          <a href="{{ event.get_absolute_url }}" class="btn btn-default"<span class="badge">{{ event }}</span></a>
        {% endfor %}
        </br>
        </br>
      </div>
    </div>
  </div>
{% endblock %}