{% extends 'base.html' %}
{% block content %}
    <form method="POST" class="pad-form text-center">{% csrf_token %}
      <label for="name">Name:</label>
      <div class="form-group">
        {{ form.name }}
      </div>
      <label for="address">Address:</label>
      <div class="form-group">
        {{ form.address }}
      </div>
      <label for="image">Picture:</label>
      <div class="form-group">
        {{ form.image }}
      </div>
      <label for="caption">Caption:</label>
      <div class="form-group">
        {{ form.caption }}
      </div>
      <label for="description">Description:</label>
      <div class="form-group">
        {{ form.description }}
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}