{% extends 'base.html' %}

{% block content %}
    <form method="POST" class="event-form text-center">{% csrf_token %}
      <label for="start">Start:</label>
      <div class="form-group">
        {{ form.start }}
      </div>
      <label for="end">End:</label>
      <div class="form-group">
        {{ form.end }}
      </div>
      <label for="pad">Pad:</label>
      <div class="form-group">
        {{ form.pad }}
      </div>
      <label for="title">Title:</label>
      <div class="form-group">
        {{ form.title }}
      </div>
      <label for="description">Text:</label>
      <div class="form-group">
        {{ form.text }}
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}