{% extends "base.html" %}
{% load static %}

{% block content %}
  {% if object.created_by == request.user.hopper %}
    <div class="text-center">
      <a href="update" class="btn btn-primary"<span class="badge">Update Event</span></a>
      </br>
      </br>
    </div>
  {% endif %}
  <div class="card text-center">
    </br>
    {% if request.user.hopper in object.get_attending_list %}
      </br>
      <div class="fa fa-calendar-check-o">
        You are attending!
      </div>
      </br>
      </br>
    {% endif %}
    <img class="card-img-top" src="{% static 'img/frog.jpg' %}" alt="Card image">
    <div class="card-body">
      </br>
      <h1>{{ object.title }}</h1>
      @
      <a href="{{ object.pad.get_absolute_url }}" class="btn btn-default"<span class="badge">{{ object.pad }}</span></a>
      </br>
      </br>
      Starts: {{ object.start|date:"D, M d, fA" }}
      </br>
      Ends: {{ object.end|date:"D, M d, fA" }}
      </br>
      </br>
      {{ object.text }}
      </br>
      </br>
      {% if request.user.hopper not in object.get_attending_list %}
        <a href="{{ object.create_ribbit }}" class="btn btn-default"<span class="badge">Ribbit</span></a>
        </br>
        </br>
      {% endif %}
      Attending:
      </br>
      </br>
      {% for hopper in object.get_attending_list %}
        <a href="{{ hopper.get_absolute_url }}" class="btn btn-default"<span class="badge">{{ hopper }}</span></a>
      {% endfor %}
    </div>
    </br>
  </div>
{% endblock %}