{% extends "base.html" %}

{% block content %}
  <div class="card">
    <div class="card text-center">
      <div class="card-body">
        <h1>{{ object.title }}</h1>
        @
        </br>
        </br>
        <a href="{{ object.pad.get_absolute_url }}" class="btn btn-primary"<span class="badge">{{ object.pad }}</span></a>
        </br>
        </br>
        Starts: {{ object.start }}
        </br>
        Ends: {{ object.end }}
        </br>
        </br>
        {{ object.text }}
        </br>
        </br>
        {% if request.user.hopper not in object.get_attending_list %}
          <a href="{{ object.respond }}" class="btn btn-primary"<span class="badge">Ribbit</span></a>
          </br>
          </br>
        {% endif %}
        Attending:
        </br>
        {% for hopper in object.get_attending_list %}
          <a href="{{ hopper.get_absolute_url }}" class="btn btn-primary"<span class="badge">{{ hopper.user }}</span></a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}