{% extends 'base.html' %}
{% block content %}
    <form method="POST" class="event-form text-center">{% csrf_token %}
      <label for="start">Start:</label>
      <div class="form-group">
        {{ form.start }}
      </div>
      <label for="end">End:</label>
      <div class="form-group">
        {{ form.end }}
      </div>
      <label for="title">Title:</label>
      <div class="form-group">
        {{ form.title }}
      </div>
      <label for="pad">Location:</label>
      <div class="form-group">
        {{ form.pad }}
      </div>
      <label for="image">Picture:</label>
      <div class="form-group">
        {{ form.image }}
      </div>
      <label for="caption">Caption:</label>
      <div class="form-group">
        {{ form.caption }}
      </div>
      <label for="text">Description:</label>
      <div class="form-group">
        {{ form.text }}
      </div>
      <label for="description">Private:</label>
      <div class="form-group">
        {{ form.private }}
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}