{% extends 'base.html' %}

{% block content %}
    <div class="text-center">
      {% if request.user.hopper.get_count_of_listens_to_list == 0 %}
        <a href="/hoppers" class="btn btn-primary"<span class="badge">To Begin Click Here</a>
        </br>
        </br>
      {% endif %}
      <div>
        <a href="{{ request.user.hopper.get_absolute_url }}" class="btn btn-primary">View Profile</a>
        <a href="/logout" class="btn btn-primary"<span class="badge">Logout</a>
      </div>
      </br>
    </div>
    <form method="POST" class="event-form text-center">{% csrf_token %}
      <label for="name">Name:</label>
      <div class="form-group">
        {{ form.name }}
      </div>
      <label for="email">Email:</label>
      <div class="form-group">
        {{ form.email }}
      </div>
      <label for="birth_date">Birthday:</label>
      <div class="form-group">
        {{ form.birth_date }}
      </div>
      <button type="submit" class="btn btn-primary">Update Profile</button>
    </form>
    </br>
    </br>
<!--     <div class="text-center">
      <h2> Welcome to Pond</h2>
      <div class="fa fa-users"> In here you are a hopper</div>
      </br>
      <div class="fa fa-calendar"> Attending events</div>
      </br>
      <div class="fa fa-map-signs"> At other hoppers' pads</div>
      </br>
      <div class="fa fa-commenting"> Ribbits let others know you're attending</div>
      </br>
    </div> -->
{% endblock %}

