{% extends 'base.html' %}

{% block content %}
    <div class="text-center">
      <div>
        <h4>
          Hello, {{ request.user.username }}. Pond uses cookies to track movement through the application, but does not share user data with any third parties.
          </br>
      </div>
      {% if request.user.hopper.get_count_of_listens_to_list == 0 %}
        <a href="/hoppers" class="btn btn-primary"<span class="badge">To Begin Click Here</a>
        </br>
        </br>
      {% endif %}
      <div>
        <a href="{{ request.user.hopper.get_absolute_url }}" class="btn btn-primary">View Profile</a>
        <a href="/logout" class="btn btn-primary"<span class="badge">Logout</a>
      </div>
      </br>
    </div>
    <form method="POST" class="event-form text-center">{% csrf_token %}
      <label for="name">Name:</label>
      <div class="form-group">
        {{ form.name }}
      </div>
      <label for="email">Email:</label>
      <div class="form-group">
        {{ form.email }}
      </div>
      <label for="birth_date">Birthday:</label>
      <div class="form-group">
        {{ form.birth_date }}
      </div>
      <label for="image">Birthday:</label>
      <div class="form-group">
        {{ form.image }}
      </div>
<!--       <label for="includes">Use # for topics you like. Try adding your city:</label>
      <div class="form-group">
        {{ form.includes }}
      </div>
      <label for="excludes">Use ! for topics you don't like:</label>
      <div class="form-group">
        {{ form.excludes }}
      </div> -->
      <button type="submit" class="btn btn-primary">Update Profile</button>
    </form>
    </br>
    </br>
{% endblock %}
