{% extends 'base.html' %}

{% block content %}
    <h1>Ribbit</h1>
    <form method="POST" class="pad-form text-center">{% csrf_token %}
      <label for="sent_by">Sent By:</label>
      <div class="form-group">
        {{ form.sent_by }}
      </div>
      <label for="got_by">Got By:</label>
      <div class="form-group">
        {{ form.got_by }}
      </div>
      <label for="event">Event:</label>
      <div class="form-group">
        {{ form.event }}
      </div>
      <label for="response">Response:</label>
      <div class="form-group">
        {{ form.response }}
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}