@media (min-width: 992px) {

}

.fa {
  font-size: 2em;
}

.icon-bar {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #000;
    border-bottom: 1px solid #166534;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: #4ade80;
    font-size: 28px;
}

.icon-bar a:hover {
    background-color: #052e16;
    color: #86efac;
}

.active {
    background-color: #14532d;
    color: #86efac !important;
}