<div class="card">
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">{{ instance.start }} - {{ instance.end }}</h5>
      <a href="{{ instance.get_absolute_url }}" class="btn btn-primary"<span class="badge">{{ instance }}</span></a></br></br>
      @</br></br>
      <a href="{{ instance.pad.get_absolute_url }}" class="btn btn-primary"<span class="badge">{{ instance.pad }}</span></a></br></br>
      <p class="card-text">{{ instance.text }}</p>
      {% if request.user not in instance.get_attending_list %}
        <a href="{{ instance.respond }}" class="btn btn-default"<span class="badge">Ribbit</span></a></br></br>
      {% endif %}
    </div>
  </div>
</div>