<div class="card">
  <div class="card text-center">
    <div class="card-body">
      <a href="{{ instance.get_absolute_url }}" class="btn btn-primary"<span class="badge">{{ instance }}</span></a>
      @
      <a href="{{ instance.pad.get_absolute_url }}" class="btn btn-primary"<span class="badge">{{ instance.pad }}</span></a>
      </br>
      </br>
      Starts: {{ instance.start }}
      </br>
      Ends: {{ instance.end }}
      </br>
      </br>
      {% if request.user.hopper not in instance.get_attending_list %}
        <a href="{{ instance.respond }}" class="btn btn-primary"<span class="badge">Ribbit</span></a>
        </br>
        </br>
      {% endif %}
    </div>
  </div>
</div>