{% load static %}
<div class="card text-center">
  </br>
  {{ object.start|date:"D, M d" }}
  </br>
  </br>
  <div class="card-body">
    <a href="{{ object.get_absolute_url }}" class="btn btn-default"
      <span class="badge">{{ object }}</span>
    </a>
    @
    <a href="{{ object.pad.get_absolute_url }}" class="btn btn-default"
      <span class="badge">{{ object.pad }}</span>
    </a>
    {% if request.user.hopper not in object.get_attending_list %}
      <a href="{{ object.create_ribbit }}" class="btn btn-default"<span class="badge">Ribbit</span></a>
    {% endif %}
  </div>
  </br>
</div>